<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<section>

		<div class="container-fluid p-4 mt-5"
			style="background-color: #0c4e61">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<form action="/products" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="ch">
							<button class="btn btn-light text-dark ms-3 col-md-2">
								<i class="fa-solid fa-magnifying-glass"></i> Search
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid mt-1 p-6">
			<div class="row">
				<div class="col-md-2">
					<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
						<div class="list-group">
							<p class="fs-5 text-center">Category</p>
							<a href="/products"
								class="list-group-item list-group-item-action"
								th:classappend="${paramValue == ''}?'active' :''"
								aria-current="true">All</a> <a th:each="c:${activeCategories}"
								th:href="@{'?category='+${c.name}}"
								class="list-group-item list-group-item-action"
								th:classappend="${paramValue == c.name} ?'active' : ''">[[${c.name}]]</a>

						</div>
					</div>
				</div>
				<div class="col-md-10 p-0">
					<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
						<div class="card">
							<div class="card-body">
								<p class="fs-3 text-center">Products</p>
								<div class="row">
									<th:block th:if="${activeProducts.size > 0}">

										<div class="col-md-3" th:each="p:${activeProducts}">
											<div class="card">
												<div class="card-body">
													<img alt="" th:src="@{'/img/product_img/'+${p.image}}"
														width="150px" height="150px">
													<p class="fs-5 text-center">[[${p.title}]]</p>
													<div class="row text-center">
														<p class="fs-6 fw-bold">
															<span>&#8377; [[${p.discountPrice}]]</span><br> <span
																class="text-decoration-line-through text-secondary">&#8377;
																[[${p.price}]]</span> <span class="text-success">&nbsp;
																[[${p.discount}]]% off</span>
														</p>
														<a th:href="@{'/product/'+${p.id}}"
															class="btn btn-primary col-md-6 offset-md-3">View
															Details</a>
													</div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:unless="${activeProducts.size>0}">
										<p class="fs-4 text-danger text-center">Product not available</p>
									</th:block>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>