<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="container card-sh"
			style="margin-top: 80px; margin-bottom:-200px; background-color: white">

			<div class="col-md-12 p-5">
				<div class="row">
					<div class="col-md-6">
						<img alt="" src="img/product_img/fishPot18.webp" width="350"
							height="270px">
					</div>
					<div class="col-md-6">
						<p class="fs-3">Fish Pot</p>
						<p>
							<span class="fw-bold">Description: </span><br> transferent,
							unbrakable
						</p>
						<p>
							<span class="fw-bold">Product Details: </span><br> Status: <span
								class="badge text-success">Available</span> <span
								class="badge text-warning">Out of stock</span> <br>Category:
							Fish Pot<br> Policy: 7 days Replacement & Return
						</p>
						<p class="fs-5 fw-bold">
							Price: &nbsp; &nbsp; &nbsp; <i class="fas fa-rupee-sign">.</i>7000
							&nbsp; <span
								class="fs-6 text-decoration-line-through text secondary">12000</span>
							<span class="fs-6 text-success">32% off</span>
						</p>

						<div class="row">
							<div class="col-md-4 text-success text-center p-2">
								<i class="fas fa-money-bill-wave fa-2x"></i>
								<p>Cash On Delivery</p>
							</div>
							<div class="col-md-4 text-danger text-center p-2">
								<i class="fas fa-undo-alt fa-2x"></i>
								<p>Return Available</p>
							</div>
							<div class="col-md-4 text-primary text-center p-2">
								<i class="fas fa-truck-moving fa-2x"></i>
								<p>Free Shipping</p>
							</div>
						</div>

						<a href="#" class="btn btn-danger col-md-12">Add To Cart</a>

					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>